// scss全局变量

// 左侧菜单的宽度、背景色
$base-menu-width: 260px;
$base-menu-background: black;

// logo容器高度、内边距、右侧文字大小
$base-logo-height: 50px;
$base-logo-padding: 20px;
$base-logo-title-fontSize: 20px;

// 顶部导航的高度
$base-tabbar-height: 100px;

// 内容展示的内边距
$base-main-padding: 20px;
