// scss全局变量

// 左侧菜单的宽度、背景色、logo容器高度、logo右侧文字大小
$base-menu-width: 260px;
$base-menu-background: black;
$base-menu-logo-height: 50px;
$base-menu-logo-title-fontSize: 20px;

// 顶部导航的高度
$base-tabbar-height: 100px;
